.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  z-index: 1000;
  transition: 0.6s ease-in-out;
  background-color: blue;
}

.navItems {
  display: flex;
  justify-content: space-between;
}

.navItems li {
  list-style: none;
}
